.saved-articles-container {
    margin: 30px 8% 10px 8%;
    border: 1px solid black;
    border-radius: 25px;
    border-width: 3px;
}

.saved-articles-container-title {
    font-size: 22px;
    padding: 28px 28px 0 28px;
    display: flex;
    justify-content: center;
}

.saved-articles-index-container {
    padding: 12px;
    max-height: 70vh;
    /* max-height: 600px; */
    overflow: auto;
}

.saved-articles-index-container::-webkit-scrollbar {
    display: none;
}

.saved-articles-index-items-link {
    color: black;
    text-decoration: none;
    line-height: 24px;
}

.saved-articles-index-items-container {
    cursor: pointer;
    border-radius: 25px;
    overflow-wrap: break-word;
    padding: 10px;
    margin: 0 20px 10px;
    border-radius: 8px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #0066CC;;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: #0066CC;;
    font-size: 20px;
    line-height: 1.5;
    text-decoration: none;
}

.saved-articles-index-items-container:hover {
    color: #fff;
    box-shadow: inset 10000px 0 0 0 #32C0D8;
}

.saved-articles-index-items-container:hover .saved-articles-index-items-headline {
    -webkit-line-clamp: 100;
    color: #fff;
}

.saved-articles-index-items-container:hover .saved-articles-index-items-summary{
    -webkit-line-clamp: 100;
    color: #fff;
}

.saved-articles-index-items-container:hover .saved-articles-index-items-date{
    -webkit-line-clamp: 100;
    color: #fff;
}

.saved-articles-index-items-headline {
    font-weight: 700;
    color:  #0066CC;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.saved-articles-index-items-summary {
    font-weight: 1;
    font-size: 16px;
    color:  #0066CC;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.saved-articles-index-items-date {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #0066CC;
}

#unsave-button-div {
    display: flex;
}

#empty-spacing-div {
    width: 80%;
}

.saved-articles-index-items-delete {
    color: white;
    background-color: #448de0;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    font-weight: bolder;
    border-radius: 25px;
    border: 1px solid black;
    margin-left: 12%;
    pointer-events: auto;
    cursor: pointer;
}

.saved-articles-index-items-delete:hover {
    background-color:#FFD247;
}

.saved-articles-index-items-container:has( .saved-articles-index-items-delete:hover) { cursor: pointer;
    /* border: 1px solid black; */
    background-color: red;
    border-radius: 25px;
    overflow-wrap: break-word;
    padding: 10px;
    margin: 0 20px 10px;
    border-radius: 8px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color:black;
    /* padding: 50px; */
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color:black;
    font-size: 20px;
    line-height: 1.5;
    text-decoration: none;
}

.saved-articles-title-divider {
    width: 182px
}