.groups-container {
    margin: 0 8%;
    margin-top: 20px;
}

.groups-user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0
}

.groups-user-icon {
    height: 120px;
    width: 120px;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 50%;
}

.groups-user-name {
    font-size: 22px;
    font-weight: 600;
    padding: 10px 0;
}

.groups-uesr-email {
    font-size: 16px;
}

/* --------------------------------------------- */
/* GroupsIndex */

.groups-index-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.groups-index-items-container {
    width: 90px;
    margin: 20px 32px;
    cursor: pointer;
}

.groups-index-items-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groups-index-items-icon {
    height: 90px;
    width: 90px;
}

.groups-index-items-name {
    font-size: 18px;
    font-weight: 600;
}

.groups-index-items-figures {
    padding: 5px 0;
}