a {
    text-decoration: none;
}

.sidebar {
    border: 1px solid black;
    width: 30%;
    border-radius: 25px;
    border-width: 3px;
    background-color: #f2efec;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    padding: 28px 28px 14px 28px;
}

@media (max-width: 600px) {
    .sidebar-header {
        font-size: 18px;
    }
}

.sidebar-body {
    /* max-height: 690px; */
    overflow: auto;
    padding: 12px;
    height: 56vh;
}

.sidebar-body::-webkit-scrollbar {
    display: none;
}