.top-bar-container {
    height: 100px;
    margin: 0 8%;
    overflow-y: hidden;
}

.top-bar-container::-webkit-scrollbar  {
    display: none;
}

.body-container {
    display: flex;
    margin: 5px 8% 10px 8%;
}