/* MainPage */

.index-container {
    display: flex;
    margin: 0 8%;
    margin-top: 20px;
}

/* --------------------------------------------- */
/* NewsIndex */

.news-index-container {
    border: 1px solid black;
    width: 70%
}

.news-index-title {
    font-size: 22px;
    padding: 28px;
    /* margin: 0 20px; */
    border: 1px solid black;
}

.news-feed-container {
    border: 1px solid black;
    padding: 12px;
    max-height: 600px;
    overflow: auto;
}

.news-feed-container::-webkit-scrollbar {
    display: none;
}

.news-feed {
    cursor: pointer;
    border: 1px solid black;
    overflow-wrap: break-word;
    padding: 10px;
    margin: 0 20px 10px;
    border-radius: 8px;

}


/* --------------------------------------------- */
/* IndexSidebar */

.index-sidebar-container {
    border: 1px solid black;
    width: 30%;
    /* padding: 12px; */
}

.index-sidebar-title {
    font-size: 22px;
    padding: 28px;
    border: 1px solid black;
}

.index-sidebar-groups {
    cursor: pointer;
    border: 1px solid black;
    padding: 14px 24px;
    border-radius: 8px;
    /* width: 50%; */
    margin: 20px 20px;

}

.index-sidebar-footer {
    padding: 22px;
}