.nav-bar-container {
    height: 80px;
    border-bottom: 1px solid #DDDDDD;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 8%;
}

.logo {
    font-family: "Trirong", serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* --------------------------------------------- */
/* Dropdown */

.dropdown-button {
    margin-left: 75px;
    border: none;
    background: none;
}

.dropdown-button:hover{
    cursor: pointer;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid #DDDDDD;
    margin-top: 10px;
}

.dropdown-options {
    color: black;
    text-decoration: none;
    padding: 12px 12px;
}

.dropdown-options:hover {
    cursor: pointer;
    background-color: #F7F7F7;
}

#profile-link{
    font-size:36px;

    color: #0066cc;
}