.nav-bar-container {
    height: 80px;
    border-bottom: 1px solid #DDDDDD;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 8%;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

/* --------------------------------------------- */
/* Dropdown */

.dropdown-button {
    border: 1px solid #F7F7F7;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    margin-left: 105px;
}

.dropdown-button:hover{
    cursor: pointer;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid #DDDDDD;
    margin-top: 5px;
    padding: 12px 0;
    border-radius: 20px;
    width: 160px
}

.dropdown-options {
    color: black;
    text-decoration: none;
    padding: 12px 12px;
}

.dropdown-options:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: #F7F7F7;
}