.title-add {
    margin-top: 10px;
}

.add-button {
    display: flex;
    justify-content: center;
    min-width: 35px;
    color: white;
    background-color: #448de0;
    font-size: 16px;
    padding: 3px 12px;
    font-weight: bolder;
    border-radius: 25px;
    border: 1px solid black;
}

@media (max-width: 600px) {
    .add-button {
        font-size: 13px;
    }
}

.add-button:hover {
    background-color: #FFD247;
    cursor: pointer
}

.figure-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figure-form span {
    padding: 5px
}

.form-button {
    font-size: 14px;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .form-button {
        font-size: 12px;
    }
}

.form-button:hover {
    cursor: pointer;
}