.sidebar-body-items {
    display: flex;
    justify-content: center;
    padding: 14px 24px;
    margin: 20px 20px 10px 20px;
    cursor: pointer;
}

.sidebar-body-items:hover {
    font-weight: bolder;
}

#delete-button-div {
    display: flex;
}

#empty-spacing-div {
    width: 80%;
}

.delete-button {
    display: flex;
    justify-content: center;
    min-width: 35px;
    color: white;
    background-color: #448de0;
    font-size: 16px;
    padding: 3px 12px;
    font-weight: bolder;
    border-radius: 25px;
    border: 1px solid black;
    margin-right: 5%;
}

.delete-button:hover {
    background-color: #FFD247;
    cursor: pointer
}

.sidebar-empty {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}