.groups-container {
    margin: 0 8%;
    height: 120px;
    overflow: scroll;  
}

.groups-container::-webkit-scrollbar {
    display: none;
}

.groups-user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0
}

.groups-user-icon {
    height: 120px;
    width: 120px;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 50%;
}

.groups-user-name {
    font-size: 22px;
    font-weight: 600;
    padding: 10px 0;
}

.groups-uesr-email {
    font-size: 16px;
}

/* --------------------------------------------- */
/* GroupsIndex */

/* .groups-index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: scroll;
    max-height: px;
} */
/* .groups-index-container {
    margin: 0 8%;
    margin-top: 20px;
    display: flex;
} */

.groups-index-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    max-width: 100%;
    height: 100%
}

.groups-index-items-container {
    width: 90px;
    margin: 0 64px 0 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groups-index-items-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groups-index-items-icon {
    height: 60px;
    width: 60px;
    /* padding-left: 17px; */
}

.groups-index-items-name {
    font-size: 15px;
    font-weight: 600;
}

.groups-index-items-figures {
    padding: 5px 0;
}

.all-figure{
    font-size: 15px;
    font-weight: 600;
}

.add{
    padding-top:10px ;
}

.figure-form {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.figure-form span {
    padding: 5px
}

.form-button {
    font-size: 14px;
    border-radius: 8px;
}

.form-button:hover {
    cursor: pointer
}