.groups-index-items-container {
    width: 90px;
    margin: 0 64px 0 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groups-index-items-icon {
    height: 60px;
    width: 60px;
}

.groups-index-items-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groups-index-items-name {
    font-size: 15px;
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
}